/**
 * Kiosk API
 * 
 *
 * OpenAPI spec version: 0.0.1
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

package io.swagger.client.api;

import io.swagger.client.ApiInvoker;
import io.swagger.client.ApiException;
import io.swagger.client.Pair;

import io.swagger.client.model.*;

import java.util.*;

import com.android.volley.Response;
import com.android.volley.VolleyError;
import com.belladati.httpclientandroidlib.entity.mime.MultipartEntityBuilder;

import io.swagger.client.model.SubcategoryReq;
import io.swagger.client.model.SubcategoryRes;

import org.apache.http.HttpEntity;

import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.concurrent.ExecutionException;
import java.util.concurrent.TimeoutException;

public class CategoryApi {
  String basePath = BasePath.getInstance().getBasePath();
  ApiInvoker apiInvoker = ApiInvoker.getInstance();

  public void addHeader(String key, String value) {
    getInvoker().addDefaultHeader(key, value);
  }

  public ApiInvoker getInvoker() {
    return apiInvoker;
  }

  public void setBasePath(String basePath) {
    this.basePath = basePath;
  }

  public String getBasePath() {
    return basePath;
  }

  /**
  * 
  * 
   * @param contentType 
   * @param subcategoryReq 
   * @return SubcategoryRes
  */
  public SubcategoryRes categoryListMenuPost (String contentType, SubcategoryReq subcategoryReq) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
     Object postBody = subcategoryReq;
  
      // verify the required parameter 'contentType' is set
      if (contentType == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'contentType' when calling categoryListMenuPost",
      new ApiException(400, "Missing the required parameter 'contentType' when calling categoryListMenuPost"));
      }
  
      // verify the required parameter 'subcategoryReq' is set
      if (subcategoryReq == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'subcategoryReq' when calling categoryListMenuPost",
      new ApiException(400, "Missing the required parameter 'subcategoryReq' when calling categoryListMenuPost"));
      }
  

  // create path and map variables
  String path = "/category/list-menu".replaceAll("\\{format\\}","json");

  // query params
  List<Pair> queryParams = new ArrayList<Pair>();
      // header params
      Map<String, String> headerParams = new HashMap<String, String>();
      // form params
      Map<String, String> formParams = new HashMap<String, String>();


          headerParams.put("Content-Type", ApiInvoker.parameterToString(contentType));

      String[] contentTypes = {
  "application/json"
      };
      contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

      if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
  

      com.belladati.httpclientandroidlib.HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
      } else {
      // normal form params
        }

      String[] authNames = new String[] {  };

      try {
        String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
        if(localVarResponse != null){
           return (SubcategoryRes) ApiInvoker.deserialize(localVarResponse, "", SubcategoryRes.class);
        } else {
           return null;
        }
      } catch (ApiException ex) {
         throw ex;
      } catch (InterruptedException ex) {
         throw ex;
      } catch (ExecutionException ex) {
         if(ex.getCause() instanceof VolleyError) {
	    VolleyError volleyError = (VolleyError)ex.getCause();
	    if (volleyError.networkResponse != null) {
	       throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
	    }
         }
         throw ex;
      } catch (TimeoutException ex) {
         throw ex;
      }
  }

      /**
   * 
   * 
   * @param contentType    * @param subcategoryReq 
  */
  public void categoryListMenuPost (String contentType, SubcategoryReq subcategoryReq, final Response.Listener<SubcategoryRes> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = subcategoryReq;

  
    // verify the required parameter 'contentType' is set
    if (contentType == null) {
       VolleyError error = new VolleyError("Missing the required parameter 'contentType' when calling categoryListMenuPost",
         new ApiException(400, "Missing the required parameter 'contentType' when calling categoryListMenuPost"));
    }
    
    // verify the required parameter 'subcategoryReq' is set
    if (subcategoryReq == null) {
       VolleyError error = new VolleyError("Missing the required parameter 'subcategoryReq' when calling categoryListMenuPost",
         new ApiException(400, "Missing the required parameter 'subcategoryReq' when calling categoryListMenuPost"));
    }
    

    // create path and map variables
    String path = "/category/list-menu".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();


    headerParams.put("Content-Type", ApiInvoker.parameterToString(contentType));

    String[] contentTypes = {
      "application/json"
    };
    contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      com.belladati.httpclientandroidlib.HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

      String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((SubcategoryRes) ApiInvoker.deserialize(localVarResponse,  "", SubcategoryRes.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
}
