<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.bluehack.kiosk">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".ApplicationLoader"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--google map-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA7av6NBZ3U-CwHzYMPex2M96OWP1zQz4Y"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".main.MainActivity"
            android:label="@string/app_title"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".store.StoreActivity"
            android:label="@string/app_title"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".order.OrderActivity"
            android:label="@string/app_title"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".order_pay.OrderPayActivity"
            android:label="@string/app_title"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".order_option.OrderOptionActivity"
            android:label="@string/app_title"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".process.ProcessActivity"
            android:label="@string/app_title"
            android:screenOrientation="portrait">
        </activity>

    </application>

</manifest>