<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.bluehack.kiosk">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ApplicationLoader"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".login.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".main.MainActivity"
            android:label="@string/tool_bar_main"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".store.StoreActivity"
            android:label="@string/tool_bar_store"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".myinfo.MyInfoActivity"
            android:label="@string/tool_bar_myinfo"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".subcategory.SubCategoryActivity"
            android:label="@string/tool_bar_subcategory"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".menu.MenuActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".menu.option.MenuOptionActivity"
            android:label="@string/tool_bar_menu_option"
            android:screenOrientation="portrait">
        </activity>
        <!--<activity
            android:name=".order.OrderActivity"
            android:label="@string/tool_bar_order"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".order_pay.OrderPayActivity"
            android:label="@string/tool_bar_order"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".order_option.OrderOptionActivity"
            android:label="@string/tool_bar_order"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".process.ProcessActivity"
            android:label="@string/tool_bar_main"
            android:screenOrientation="portrait">
        </activity>-->

    </application>

</manifest>